.benefit-section-1{
    background: url("https://cdn.pixabay.com/photo/2015/05/31/10/55/man-791049_640.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(88, 88, 88);
    background-blend-mode: multiply;
    height: 100vh;
}