.about-content{
    background: url("https://cdn.pixabay.com/photo/2015/05/31/10/51/technology-791029_640.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(88, 88, 88);
    background-blend-mode: multiply;
    background-attachment: fixed;
    
    height: 120vh;
    @media (width<1000px) {
        height: 70vh;
    }
    div{
        @media (width<1000px) {
            align-items: center;
            justify-content: center;
        }
    }
}
.booking{
    background: url("https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgb(88, 88, 88);
    background-blend-mode: multiply;
    color:white;
    
}