.dp-section1{
    background-image: url('https://cdn.pixabay.com/photo/2015/01/08/18/26/man-593333_1280.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(88, 88, 88);
    background-blend-mode: multiply;
    
}
